<% @weather[:weather] = 'Sunny' if @weather[:weather] == 'Clear' %>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello from Weather-Powered Email, <%= @email %>!</h2>
    <p>
      <h4>Current conditions in <%= @city %>, <%= @state %>:</h4>
      <span><%= @weather[:temperature] %>F<br>
      <%= @weather[:weather] %></span><br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
