<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello from Weather-Powered Email, <%= @email %>!</h2>
    <div style="border: solid, 1px, black">
      <img style="float:left;padding-right: 10px" src="<%= @weather[:icon] %>">
      <p>
        <strong><%= @city %>, <%= @state %></strong>
        <p>
          <%= @weather[:temperature] %> degrees, <%= @weather[:weather] %>
        </p>
      </p><br>
    </div>
    <p>Have a great day!</p>
  </body>
</html>
